/* .App {
  text-align: center;
  font-family: Helvetica, sans-serif;
} */

.appName {
  font-family: 'Londrina Solid', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* font-family: 'Staatliches', cursive; */
}