/* .App {
  text-align: center;
  font-family: Helvetica, sans-serif;
} */

.appName {
  font-family: 'Londrina Solid', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* font-family: 'Staatliches', cursive; */
    
  }

  .pageContainer {
    position: relative;
    min-height: 100vh;
  }
 
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}