/* Media screen for dashboard */
@media screen and (max-width: 768px) {
  .dashboardCards {
    
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .myPosts {
    width: 100vw;

  }
  .savePost {
    width: 95vw;
    margin-right: 4px;
  }
  .sideBar {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
      .dashboardCards {
    
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }
      .myPosts {
        width: 100vw;
      }
      .savePost {
        width: 95vw;
        margin-right: 4px;
      }
      .sideBar {
        width: 100vw;
      }
}

@media screen and (max-width: 1630px) {
    .dashComps {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: start;
      }
      
      .dashboardCards {
    
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }
      .myPosts {
        width: 100vw;
      }
      .savePost {
        width: 95vw;
        margin-right: 4px;
      }
      .sideBar {
        width: 100vw;
      }
}
/* Media screen for Update Post */
@media screen and (max-width: 768px) {
    .update {
        margin: 0;
        width: fit-content;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .updateCard {
        margin: 0;
        padding: 0;
        max-width: 100vw;
    }
    .updateContent {
        margin: 0;
        padding: 0;
        width: 100vw;
    }
    .updateInput {
        display: flex;
        width: max-content;
        justify-content: center;
        margin: 0;
        padding: 14px;
    }
    .input {
        width: 90vw;
    }
    .updateBtns {
        padding: 0;
        margin: 0;
    }

  }
  
