.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  margin: 13px;
  padding: 10px;
  min-width: 55px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 5px;
  padding-left: 50px;
  text-align: left;
}

.signupTxt {
  text-align: center;
}
.signupForm, .loginForm {
    margin: auto;
    padding-top: 50px;
}

.signupForm {
  display: flex;
  align-items: center;
  margin-left: 375px;
}

/* media screens for login and sign up pages */
@media screen and (max-width: 768px) {
  .balloon-container {
    margin: auto;
  }
  .loginForm,
  .signupForm {
    margin: auto;
    /* padding-top: 30px; */
  }
}

@media screen and (max-width: 1430px) {
 .loginForm {
    padding-top: 50px;
 }
  .loginForm,
  .signupForm {
    margin: auto;
    /* padding: 0; */
  }
  .icon {
    visibility: hidden;
  }
}
