.mobile-nav {
  display: none;
}

/* .dropdown-content {
    position: relative;
    top: 0;
    bottom: 0;
    left: 5;
    right: 0;
   
} */

@media only screen and (max-width: 820px) {
  .navLinks {
    display: none;
  }
}

@media only screen and (max-width: 820px) {
  .mobile-nav {
    display: block;
  }
}
